doom1.wad

*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave
Meta/Lagom/build
Build
Toolchain/Tarballs
Toolchain/Build
Toolchain/Local
.vscode
.ccls-cache
compile_commands.json
.cache
.clang_complete
.clangd
.idea/
cmake-build-debug/
output/
run-local.sh
sync-local.sh
.vim/
.exrc
.helix/

# Gradle/AndroidStudio
.gradle/
.cxx/
local.properties
# We can't build from cmd.exe anyway
gradlew.bat

Userland/Libraries/LibWasm/Tests/Fixtures/SpecTests
Userland/Libraries/LibWasm/Tests/Spec

Tests/LibWeb/WPT/wpt
Tests/LibWeb/WPT/metadata
Tests/LibWeb/WPT/MANIFEST.json

# Ensure that all files in /Base can be tracked, even if they match one of the above rules
!/Base/**

# Keep last to ensure .DS_Store is never tracked, even if otherwise allowed by any exception above.
.DS_Store

#serenity

serenity/*.swo
serenity/*.swp
serenity/*.config
serenity/*.creator
serenity/*.creator.user
serenity/*.creator.user.*
serenity/*.files
serenity/*.includes
serenity/*.cflags
serenity/*.cxxflags
serenity/*.autosave
serenity/Meta/Lagom/build
serenity/Build
serenity/Toolchain/Tarballs
serenity/Toolchain/Build
serenity/Toolchain/Local
serenity/.vscode
serenity/.ccls-cache
serenity/compile_commands.json
serenity/.cache
serenity/.clang_complete
serenity/.clangd
serenity/.idea/
serenity/cmake-build-debug/
serenity/output/
serenity/run-local.sh
serenity/sync-local.sh
serenity/.vim/
serenity/.exrc
serenity/.helix/

# Gradle/AndroidStudio
serenity/.gradle/
serenity/.cxx/
serenity/local.properties
# We can't build from cmd.exe anyway
serenity/gradlew.bat

serenity/Userland/Libraries/LibWasm/Tests/Fixtures/SpecTests
serenity/Userland/Libraries/LibWasm/Tests/Spec

serenity/Tests/LibWeb/WPT/wpt
serenity/Tests/LibWeb/WPT/metadata
serenity/Tests/LibWeb/WPT/MANIFEST.json

# Ensure that all files in /Base can be tracked, even if they match one of the above rules
serenity/!/Base/**

# Keep last to ensure .DS_Store is never tracked, even if otherwise allowed by any exception above.
serenity/.DS_Store
